{% autoescape off %}
<p>Hello,</p>

<p>Attached are CSVs that are ready to be uploaded.</p>
{% for batch, extra in batches %}
  <p>Results for {{ batch.event_name }} on {{ batch.event_date }} at {{ batch.event_location }} by {{ batch.staff_name}} ({{ batch.staff_email  }}):</p>
  {% if extra %}
    {% if "spreadsheet_title" in extra %}
  <p>Spreadsheet Title: {{ extra.spreadsheet_title  }}</p>
    {%endif%}
  {% endif %}
  <ul>
      <li>Submitted Persons: {{ batch.submitted_persons }}</li>
      <li>Invalid Persons: {{ batch.invalid_persons }}</li>
      <li>Opted Out Persons: {{ batch.optedout_persons }}</li>
      <li>Bounced Persons: {{ batch.bounced_persons }}</li>
  </ul>
{% endfor %}
{% endautoescape %}
