{% autoescape off %}
<html>
  <body>
    Hello,

    <p>The E-Democracy Signup Verifier has processed the results of signups submitted two days ago.</p>

    {% if bounces %}
    <p>The following batches had email addresses that bounced. For each batch, click the title of the Bounce spreadsheet to view and edit information on bouncers. Once you have finished editing the spreadsheet, go to the Spreadsheets folder and move the Bounce spreadsheet into the Spreadsheets to Process folder.</p>
    <ul>
      {% for batch, download_link, title in bounces %}
        <li><a href="{{ download_link }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
    <p><i>Tips for fixing bounces</i></p>
    <p>A bounce is usually caused by a misspelled email address. If you still have access to the paper signup sheet, make sure that the email address found in the spreadsheet matches the email address written on the signup sheet.</p>
    {% endif %}
    {% if optouts %}
    <p>The following batches had email addresses that opted out of signuping up. For each batch, click the title of the Opt Out spreadsheet to view and edit information about those who opted out. Once you have finished editing the spreadsheet, go to the Spreadsheets folder and move the Opt Out spreadsheet into the Spreadsheets to Process folder.</p>
      <ul>
      {% for batch, download_link, title in optouts %}
        <li><a href="{{ download_link }}">{{ title }}</a></li>
      {% endfor %}
      </ul>
    <p><i>Tips for dealing with Opt Outs</i></p>
    <p>The opt out spreadsheet will include that reason the person gave for opting out of joining E-Democracy.org</p>
    <p>If the reason for opting out is that the person is out of their office or on vacation, then move the row for that person in a spreadsheet that you will submit at a later time (ideally, the out of office message will tell you when the person will be back in their office.)</p>
    <p>If the reason for opting out is that the person meant to signup somebody else instead, then change the row for that person based on the information that person provides.
    <p>If the person simply does not wish to join E-Democracy.org, then simply delete the row for that person from the spreadsheet.</p>
    {% endif %}
  </body>
</html>
{% endautoescape %}
