<html>
  <body>
    Hello,

    <p>The E-Democracy Signup Verifier has processed a set of new signups that include signups you submitted.</p>

    {% if failed_batches %}
    The following batches encountered errors while processing their metadata. People in these batches where not emailed.
    <ul>
      {% for failed_batch in failed_batches %}
        <li><a href="{{ failed_batch.url }}">{{ failed_batch.event_name }} on {{ failed_batch.event_date }}</a>
            <ul><li>Error: {{ failed_batch.error }}</li></ul>
        </li>
      {% endfor %}
    </ul>
    <p>Due to errors in batch metadata, these batches were not processed. Please use the links above to find the spreadsheets and address the errors indicated above.</p>
    {% endif %}
    {% if successful_batches %}
      {% for successful_batch in successful_batches %}
        <h2><a href="{{ successful_batch.url }}">{{ successful_batch.event_name }} on {{ successful_batch.event_date }}</a></h2>
        {% if successful_batch.successful_persons %}
          <p>The following addresses were emailed (this does not mean they are verified, they may still bounce or opt out):</p>
          <ul>
            {% for successful_person in successful_batch.successful_persons %}
              <li>{{ successful_person.email }} - {{ successful_person.full_name }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if successful_batch.failed_persons %}
          <p>The following addresses were not emailed due to an error:</p>
          <ul>
          {% for failed_person in successful_batch.failed_persons %}
            <li> {{ failed_person.email }} - {{ failed_person.full_name }}
              <ul><li>{{ failed_person.error }}</li></ul>
            </li>
          {% endfor %}
          </ul>
          A spreadsheet containing these entries with errors can be downloaded at <a href="{{ successful_batch.errors_sheet_url }}">here</a>.
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
